@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Tittle"] = "IzvjestajPDF";
}
@model Seminarski.ViewModels.IzvjestajVM;
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/botstrap.min.js"></script>
<title>Izvještaj</title>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Naziv usluge</th>
            <th>Opis usluge</th>
            <th>Cijena</th>
            <th>Trajanje</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var x in Model.rows)
        {
            <tr>
                <td>@x.NazivUsluge</td>
                <td>@x.Opis</td>
                <td>@x.Cijena KM</td>
                <td>@x.Trajanje h</td>
            </tr>
        }
    </tbody>
</table>